img {
    width: 99%;
    border: 3px solid black;
}

h1 {
    text-align: center;
}

h3.pc {
    display: none;
}

body {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-block {
   position: relative;
}

.img-description {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 15% 40%;
  display: none;
}

.image-block img {
  position: relative;
  text-align: center;
}
