img, video {
    width: 50%;
    border: 3px solid black;
	object-fit: cover;
  }

video:hover {
	cursor: pointer;
}

img.ytIndicator {
	position: absolute;
	height: 70px;
	width: auto;
	outline: none;
	border: none;
	margin-top: -9px;
}

img.FullscreenBtn {
	width: 60px;
	height: auto;
	position: fixed;
	left: 95%;
	bottom: 8%;
	display: none;
}

div.main {
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
	margin-top: 30px;
}

h3.pc {
    text-align: center;
}

h3.mobile {
    display: none;
}

button.pc {
    margin: auto;
    display: block;
    margin-bottom: inherit;
    border-radius: 25px;
    background: darkseagreen;
    outline: none;
}

button.pc:hover {
    cursor: pointer;
    background: cadetblue;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.image-block {
   position: relative;
}

.img-description {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 15% 40%;
  color: #fff8dc00;
}

.image-block img video {
  position: relative;
  text-align: center;
}

div.NoScript {
	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: lightblue;
	text-align: center;
	font-size: xxx-large;
}

div.SaerchBar {
    z-index: 1;
    position: fixed;
    background-color: darkcyan;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
	text-align: center;
}


button.SearchBtn {
    vertical-align: middle;
    background-color: darkseagreen;
    border: 2px solid black;
	border-left: 0.5px solid grey;
    height: 21px;
	cursor: pointer;
	left: 0;
	outline: none;
}

button.SearchBtn:active {
	background-color: cadetblue;
}

img.SearchBtn {
	height: 15px;
	width: auto;
	border: none;
	vertical-align: center;
	pointer-events: none
}

input#myText1 {
    vertical-align: middle;
    background: darkseagreen;
    border: 2px solid black;
	border-right: 0.5px solid grey;
    width: 30%;
    resize: none;
	right: 0;
	outline: none;
}
